.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.font-captain {
  font-family: "AmericanCaptain";
 }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color-dark-blue {
  color: #162CA2
}

.bg {
  background-color: #1849CA;
}

.nav-link {
  color: white;
  font-family:'AmericanCaptain';
  font-size: 26px;
  cursor: pointer;
}

.nav-link:hover,.navbar-nav .nav-link.active {

  color: #C31D10;

}

.navbar {
  padding:0px
}

.grad {
    background-image: linear-gradient(#162CA2,#162CA2, #1849CA);
}
